<div class="container">
  <h3>Registrar subscritor</h3>
  <form class="form-ctl" #subscriberForm="ngForm" (ngSubmit)="addSubscriber(subscriberForm)">
    <div class="form-group">
      <label for="nameSubs" >Nombre</label>
      <input class="input-type" type="text" name="Name" id="nameSubs" #name [ngModel]="newSubcriber.Name" />
    </div>
    <div class="form-group">
      <label for="email">Correo</label>
      <input  class="input-type" type="email" [ngModel]="newSubcriber.Email" name="Email" id="emailSubs" />
    </div>
    <div class="form-group">
      <label for="">Código del Pais</label>
      <input  class="input-type" type="text" name="CountrieCode" id="CodeCountrie" placeholder [ngModel]="newSubcriber.CountrieCode"/>
    </div>
    <div class="form-group">
      <label for="">Pais</label>
      <input  class="input-type" type="text" name="CountrieName" id="countrie" placeholder [ngModel]="newSubcriber.CountrieName"/>
    </div>
    <div class="form-group">
      <label for="">Código teléfono </label>
      <input  class="input-type" type="text" name="PhoneCode" id="codePhone" placeholder [ngModel]="newSubcriber.PhoneCode"/>
    </div>
    <div class="form-group">
      <label for="">Teléfono </label>
      <input  class="input-type" type="text" name="PhoneNumber" [ngModel]="newSubcriber.PhoneNumber" />
    </div>
    <div class="form-group">
      <label for="">Ocupación</label>
    <input  class="input-type" type="text" name="JobTitle" id="jobTitle" placeholder [ngModel]="newSubcriber.JobTitle"/>
    </div>
   <div class="form-group">
    <label for="">Área</label>
    <input  class="input-type" type="text" name="Area" id="area" placeholder [ngModel]="newSubcriber.Area"/>
   </div>
    <div class="form-group">
      <label for="">Temas</label>
    <input class="input-type" type="text" name="Topics" id="topics"  [ngModel]="newSubcriber.Topics"/>
    </div>
    <div class="form-group-center">
      <btn-submit [titleButton]="'Crear'" ></btn-submit>
      <app-button [titleButton]="'Cancelar'" (click)="changeState()"></app-button>
    </div>
  </form>
  <br />
</div>
