<div class="container p-3">
  <div>
    <div>
      <app-button (click)="changeState()" [titleButton]="'Crear Subscritor'"></app-button>
    </div>
  </div>
  <div></div>
  <table class="table table-striped p-5 table-responsive">
    <thead class="">
      <tr class="col-4">
        <th>PublicId</th>
        <th>Name</th>
        <th>Email</th>
        <th>CountrieCode</th>
        <th>CountrieName</th>
        <th>PhoneCode</th>
        <th>PhoneNumber</th>
        <th>JobTitle</th>
        <th></th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let susbriber of data">
        <td>{{susbriber.PublicId}}</td>
        <td>{{susbriber.Name}}</td>
        <td>{{susbriber.Email}}</td>
        <td>{{susbriber.CountrieCode}}</td>
        <td>{{susbriber.CountrieName}}</td>
        <td>{{susbriber.PhoneCode}}</td>
        <td>{{susbriber.PhoneNumber}}</td>
        <td>{{susbriber.JobTitle}}</td>
        <td>
          <btn-edit (click)="edit(susbriber.id)"></btn-edit>
          <btn-delete></btn-delete>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination></app-pagination>
</div>

