<div class="container p-3">
    <div></div>
    <table class="table table-striped p-5 table-responsive">
      <thead class="">
        <tr class="col-4">
          <th>Código</th>
          <th>Código3</th>
          <th>Nombre</th>
          <th>Código teléfono </th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let countrie of listCountries">
          <td>{{countrie.Code}}</td>
          <td>{{countrie.Code3}}</td>
          <td>{{countrie.Name}}</td>
          <td>{{countrie.PhoneCode}}</td>
        </tr>
      </tbody>
    </table>
    <!-- <app-pagination></app-pagination> -->
  </div>
  
  