h3 {
    color: #3160a8;
    @media (max-width: 525px) {
        margin-top: 5px;
    }
}
.container {
    padding: 5px;
    margin-bottom: 5px;
    overflow-y: auto;
    width: 100%;
    position: relative;
    height: 38vw;
    bottom: 0;
    background-color: #faf9f9;
    border-top: 3px solid #cbcbcb;
    border-bottom: 3px solid #cbcbcb;
    border-radius: 8px;
    min-height: 85%;
    max-height: 35vw;
    @media (min-width: 768px) {
        max-width: 100%;
    }
    @media (max-width: 525px) {
        top: 0px;
        overflow: auto;
        padding: 15px 0;
        align-items: flex-start;
        height: auto;
        max-height: 85rem;
    }
    & .wrapper-formsArray {
        width: 100%;
        padding: 7px 0;
        & .contain-arrayForm {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-direction: column;
            & .contain-itemsControl {
                width: 100%;
                display: inline-flex;
                margin-bottom: 15px;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                border-bottom: 4px solid #ced4da;
                padding-bottom: 18px;
                & .form-ctl {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    width: 75%;
                    min-width: 200px;
                    border: 1px solid #98b6e2;
                    border-radius: 15px;
                    @media (max-width: 525px) {
                        margin-top: 30px;
                        width: 92%;
                    }    
                    & .form-group {
                        width: 95%;
                        padding: 5px;
                        margin: 5px;
                        & label {
                            min-width: 155px;
                            width: 30%;
                        }
                        & .input-type {
                            width: 55%;
                            min-width: 155px;
                            border: none;
                            border-bottom: 2px solid #98b6e2;
                            border-radius: 8px;
                    
                            &:hover {
                                border-bottom: 2px solid #3160a8;
                            }
                        }
                    }
                                
                }
            }

            & .btn {
                margin-left: 15px;
            }
        }
    }
}
.form-group-center, .form-group-center-header {
    text-align: center;
    margin: 10px;
    & button{
        margin:5px;
        padding-bottom: 7px;
        padding-top: 3px;
    }
}
.form-group-center-header button{
    border-radius: 50%;
    background-color: rgb(14 173 218);
    &:hover{
        background-color: rgb(11, 135, 169);
    }
}